#navigation-bar {
    position: sticky;
    top: 5px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    #navigation-bar {
        position: sticky;
        top: 5px;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
}