#navigation-bar {
    position: sticky;
    top: 5px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    #navigation-bar {
        height: 110px;
        padding:  0px 100px;
        margin: 50px 0px 0px 0px;
        align-items: center;
        justify-content: flex-start;
    }
}