#welcome-page-container {
    width: 100%;
    min-width: 320px;
    height: 85vh;
    min-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    #welcome-title {
        width: 90%;
        max-width: 425px;
        margin: 0 auto 0 auto;
        text-align:center;
        text-transform:uppercase;
        letter-spacing:1px;
        font-weight:300;
        text-shadow: 5px 5px 5px #00000066;
        p {
            color: #f6f6f6;
            font-size: 32px;
        }
        span {
            margin-top: 5px;
            font-size:10px;
            color: #f6f6f6;
            word-spacing:1px;
            font-weight:normal;
            letter-spacing:2px;
            text-transform: uppercase;
            font-weight:500;
            display: grid;
            grid-template-columns: 1fr max-content 1fr;
            grid-template-rows: 27px 0;
            grid-gap: 20px;
            align-items: center;
        }
        span:after, span:before {
            content: " ";
            display: block;
            border-bottom: 1px solid #FFC000;
            border-top: 1px solid #FFC000;
            height: 5px;
        }
    }
    #welcome-text {
        text-align: center;
        color: #f6f6f6;
        width: 90%;
        max-width: 550px;
        margin: 20px auto 0 auto;
        font-size: 16px;
        text-shadow: 5px 5px 5px #00000066;
    }
    #welcome-index {
        width: 200px;
        margin: 60px auto 0 auto;
        display: flex;
        flex-direction: column;
        justify-self: flex-end;
        justify-content: center;
        align-items: flex-start;
        color: #f6f6f6;
        text-shadow: 5px 5px 5px #00000066;
        li {
            width: 182px;
            margin: 4px auto 4px auto;
            white-space: nowrap;
        }
    }   
}

@media (min-width: 768px) {
    #welcome-page-container {
        #welcome-title {
            width: 500px;
            max-width: 100%;
            margin: 15px 0 15px 10%;
            padding: 0 2.5%;
            p {
                font-size: 48px;
            }
            span {
                font-size:12px;
            }
        }
        #welcome-text {
            margin: 20px 0px;
            font-size: 22px;
            width: 500px;
            max-width: 100%;
            margin: 20px 0 0 10%;
        }
        #welcome-index {
            width: 300px;
            li {
                width: 227px;
                margin: 5px 0;
                font-size: 20px;
            }
        }
    }
}

@media (min-width: 1024px) {
    #welcome-page-container {
        #welcome-title {
            width: 600px;
            max-width: 100%;
            margin: 15px 0 15px 10%;
            padding: 0 2.5%;
        }
        #welcome-text {
            width: 600px;
            max-width: 100%;
            margin: 20px 0 0 10%;
        }
        #welcome-index {
            display: none;
        }
    }
}